p {
    font-family: monospace;
    border-right: 4px solid;
    width: 14ch;
    white-space: nowrap;
    overflow:hidden;
    animation: typing 4s steps(14) infinite,
    blinking 0.5s infinite step-end alternate;

}

@keyframes typing {
    from{
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

